<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Willis Tower</string>
		<key>latitude</key>
		<real>41.878844</real>
		<key>longitude</key>
		<real>-87.635942</real>
		<key>radius</key>
		<integer>100</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Lincoln Park Zoo</string>
		<key>latitude</key>
		<real>41.92007</real>
		<key>longitude</key>
		<real>-87.63251</real>
		<key>radius</key>
		<integer>500</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Chicago Theater</string>
		<key>latitude</key>
		<real>41.88535</real>
		<key>longitude</key>
		<real>-87.62745</real>
		<key>radius</key>
		<integer>200</integer>
	</dict>
</array>
</plist>
