.DS_STORE
/Pods
*.xcuserdatad*
/Examples/CocoaPodsExample/Pods/
/Examples/CocoaPodsExample/Podfile.lock
/Examples/DirectIncludeExample/Analytics.framework
*.xccheckout
/Build
/DerivedData
scripts/cli/libexec/node_modules
.idea/