# OS X
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
profile
*.moved-aside
DerivedData
*.hmap
*.ipa

# Bundler
.bundle

# Swift Package Manager
.build
.swiftpm

Carthage

# CocoaPods typically recommends against ignoring the Pods directory
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control.
# However since we only use Pods for tests it's not as important to check dependencies in
# Instead we can archive the Pods repo for dependency backup purposes
# We don't need to check Pods in it for Carthage support because Analytics framework
# itself has no pod dependencies, only our tests do.
Pods/
.clang-format
.idea
